<h2>Users handler</h2>
<!-- <p>Welcome, <span class="username" ng-bind="user.details.username"></span></p>
<p>User ID: <span class="id" ng-bind="user.details.id"></span></p> -->
<div>
	<form name="users">
		<h4>Live URL</h4>
		<input type="text" value="/user/[[]]"/>
		<hr />
		<h4>Customise-me</h4>
		<table>
			<tr>
				<td>Number of users</td>
				<td><input type="text" name="nbUsers"/></td>
			</tr>
			<tr>
				<td>Gender</td>
				<td>
					<input type="checkbox" name="male">&nbsp;Male<br />
					<input type="checkbox" name="female">&nbsp;Female
				</td>
			</tr>
		</table>
		<input type="button" value="Generate" class="btn btn-primary"/>

	</form>
</div>