<section class="section liveurl">
	<div class="container">
		<div class="row">
		<form>
			<div class="col-md-12">
				<input type="text" id="text-url" name="liveUrl" value="spitdata.com/[[typeData]]/[[typeContent]]/[[nbContent]]" readonly="readonly" class="liveUrl_2"/>

				<input type="button" id="btn-copy" name="btn-copy" class="clipboard" data-id="2" value="COPY URL TO CLIPBOARD"/>
				<a href="#" class="info"><i class="fa fa-info-circle"></i></a>
			</div>
		</form>
		</div>
	</div>
</section>


<section class="section custom-data">
		<div class="container">
			<div class="row">
				<div class="number"><p>2</p></div>
				<div class="title-data">
					<h3>Customise-me</h3>
					<p class="text-info">You're the boss, select what you want</p>
				</div>
			</div>




			<div class="row">
				<form class="form-data" name="contents" method="post" action="http://localhost/Hetic/php/phpProject/admin/send">


					<p class="nb-users" >
						<label for="nbUsers">Numbers of posts</label>
						<input type="text" id="nbUsers" name="nbUsers" ng-model="nbContent" ng-pattern="/^[\d]{1,3}$/">
					</p>

					<div class="radio post">
						<p>
						   <input type="radio" id="tweet" name="type" ng-model="typeContent" value="tweet" checked>
						   <label for="tweet">Tweets</label>
						</p>
						<p>
						   <input type="radio" id="fbpost" name="type" ng-model="typeContent" value="fbpost">
						   <label for="fbpost" class="label-facebook">Facebook posts</label>
						</p>
						<p>
						   <input type="radio" id="article" name="type" ng-model="typeContent" value="article">
						   <label for="article" class="label-articles">Articles</label>
						</p>
					</div>

					<div class="col-md-12 submit">
						<input type="submit" value="Generate data" id="btn-submit">
					</div>
				</form>
			</div>
		</div>
	</section>