<form class="form-data" name="users" method="post" action="http://spitdata.com/generator/send">
<section class="section liveurl">
	
	<div class="container">
		<div class="row">
		<div class="form-live">
			<div class="col-md-12">
				<input type="text" id="text-url" name="liveUrl" value="spitdata.com/[[typeData]]/[[gender]]/[[nbUsers]]" readonly="readonly" class="liveUrl_1"/>

				<input type="button" id="btn-copy" name="btn-copy" class="clipboard" data-id="1" value="COPY URL TO CLIPBOARD"/>
				<a href="#" class="info" rel="tooltip" data-original-title="Lorem ipsum dolor sit amet"><i class="fa fa-info-circle"></i></a>
			</div>
		</div>
		</div>
	</div>
</section>


<section class="section custom-data">
		<div class="container">
			<div class="row">
				<div class="number"><p>2</p></div>
				<div class="title-data">
					<h3>Customise-me</h3>
					<p class="text-info">You're the boss, select what you want</p>
				</div>
			</div>




			<div class="row">
				<div class="form-data">


					<p class="nb-users" >
						<label for="nbUsers">Numbers of users</label>
						<input type="text" id="nbUsers" name="nbUsers" ng-model="nbUsers" ng-pattern="/^[\d]{1,3}$/">
					</p>

					<div class="radio users">
						<p>
						   <input type="radio" id="male" name="gender" ng-model="gender" value="male" checked="checked">
						   <label for="male">Male</label>
						</p>
						<p>
						   <input type="radio" id="female" name="gender" ng-model="gender" value="female">
						   <label for="female" class="label-female">Female</label>
						</p>
						<p>
						   <input type="radio" id="both" name="gender" ng-model="gender" value="both">
						   <label for="both">Both</label>
						</p>
					</div>

					<div class="col-md-12 submit">
						<input type="submit" value="Generate data" id="btn-submit">
					</div>
				
			</div>

			<div class="row after-form">
			</div>
		</div>
	</section>
</form>
	<script>
		$(function (){
	       $('a').tooltip();
	    });
	</script>