<h1>Welcome, {{@SESSION.username}} !</h1><hr />
<check if="{{isset(@messageType)}}">
	<true>
		<check if="{{@messageType==1}}">
			<true><div class="message alert alert-success">{{@flashMessage}}</div></true>
			<false><div class="message alert alert-danger">{{@flashMessage}}</div></false>
		</check>
	</true>
</check>
<table class="table table-hover table-striped">
	<thead>
		<tr>
			<th><h2>Column name</h2></th>
			<th><h2>Row count</h2></th>
			<th><h2>Actions</h2></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><h4>Users</h4></td>
			<td><h4>{{@rowNumbers.user}}</h4></td>
			<td>
				<a href="{{@BASE}}/user/100" class="btn btn-default">See</a>&nbsp;
				<button class="btn btn-primary add" data-contentType="user" data-toggle="modal" data-target="#myModal">Add</button>&nbsp;
				<a href="{{@BASE}}/admin/delete/user" class="btn btn-danger delete">Empty</a>
			</td>
		</tr>
		<tr>
			<td><h4>Articles</h4></td>
			<td><h4>{{@rowNumbers.article}}</h4></td>
			<td>
				<a href="{{@BASE}}/post/article/100" class="btn btn-default">See</a>&nbsp;
				<button class="btn btn-primary add" data-contentType="article" data-toggle="modal" data-target="#myModal">Add</button>&nbsp;
				<a href="{{@BASE}}/admin/delete/article" class="btn btn-danger delete">Empty</a>
			</td>
		</tr>
		<tr>
			<td><h4>Items</h4></td>
			<td><h4>{{@rowNumbers.item}}</h4></td>
			<td>
				<a href="{{@BASE}}/content/item/100" class="btn btn-default">See</a>&nbsp;
				<button class="btn btn-primary add" data-contentType="item" data-toggle="modal" data-target="#myModal">Add</button>&nbsp;
				<a href="{{@BASE}}/admin/delete/item" class="btn btn-danger delete">Empty</a>
			</td>
		</tr>
		<tr>
			<td><h4>Tweets</h4></td>
			<td><h4>{{@rowNumbers.tweet}}</h4></td>
			<td>
				<a href="{{@BASE}}/post/tweet/100" class="btn btn-default">See</a>&nbsp;
				<button class="btn btn-primary add" data-contentType="tweet" data-toggle="modal" data-target="#myModal">Add</button>&nbsp;
				<a href="{{@BASE}}/admin/delete/tweet" class="btn btn-danger delete">Empty</a>
			</td>
		</tr>
		<tr>
			<td><h4>Facebook status</h4></td>
			<td><h4>{{@rowNumbers.fbPost}}</h4></td>
			<td>
				<a href="{{@BASE}}/post/fbPost/100" class="btn btn-default">See</a>&nbsp;
				<button class="btn btn-primary add" data-contentType="fbPost" data-toggle="modal" data-target="#myModal">Add</button>&nbsp;
				<a href="{{@BASE}}/admin/delete/fbpost" class="btn btn-danger delete">Empty</a>
			</td>
		</tr>
		<tr>
			<td><h4>Dates</h4></td>
			<td><h4>{{@rowNumbers.dates}}</h4></td>
			<td>
				<a href="{{@BASE}}/content/dates/100" class="btn btn-default">See</a>&nbsp;
				<button class="btn btn-primary add" data-contentType="dates" data-toggle="modal" data-target="#myModal">Add</button>&nbsp;
				<a href="{{@BASE}}/admin/delete/dates" class="btn btn-danger delete">Empty</a>
			</td>
		</tr>
		<tr>
			<td><h4>Locations</h4></td>
			<td><h4>{{@rowNumbers.location}}</h4></td>
			<td>
				<a href="{{@BASE}}/content/location/100" class="btn btn-default">See</a>&nbsp;
				<button class="btn btn-primary add" data-contentType="location" data-toggle="modal" data-target="#myModal">Add</button>&nbsp;
				<a href="{{@BASE}}/admin/delete/location" class="btn btn-danger delete">Empty</a>
			</td>
		</tr>
	</tbody>
</table>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
    	<form action="{{@BASE}}/admin/add" method="POST" name="addFileForm" enctype="multipart/form-data">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="modal-title" id="myModalLabel">Adding fresh data</h4>
	      </div>
	      <div class="modal-body">
	        <label for="dataFile">Let's upload your json file</label>&nbsp;<input type="file" name="dataFile"/>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        <button type="submit" class="btn btn-primary">Save changes</button>
	      </div>
      </form>
    </div>
  </div>
</div>