<h1>Spidata API</h1><hr />

<!-- Left nav bar -->
<div class="col-md-2 api-nav">
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse">
            <div class="panel-heading">Components</div>
            <ul class="nav nav-stacked">
                <li class="active"><a href="#">Users</a></li>
                <li>
                	<a href="#">Posts</a>
                	<ul>
                		<li><a href="#">Tweets</a></li>
                		<li><a href="#">Facebook</a></li>
                		<li><a href="#">Articles</a></li>
                	</ul>
                </li>
                <li>
                	<a href="#">Contents</a>
                	<ul>
                		<li><a href="#">Items</a></li>
                		<li><a href="#">Dates</a></li>
                		<li><a href="#">Locations</a></li>
                	</ul>
                </li>
                <li><a href="{{@BASE}}/api/#images">Images</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
</div><!--/end left column-->

<!-- Content -->
<div class="apiContents">

	<!-- Introduction section -->
	<div class="intro">
		<h2>Intro</h2>
		<div class="intro-content">
			Ready to start ?
			Okay, now, all you need in order to call our API is a cross-domain AJAX request. You can do it with the native XmlHttpRequest Object from your favorite browser, or by a javascript framework. As an example, here's the way you can call our API using JQuery framework :
			<h4>Tip : Don't forget to set the datatype to jsonp, allowing cross-domain calls</h4>
			<div class="code-preview">
				<pre>
					$.ajax({
						url: http://spitdata.com/user/10,
						datatype: "jsonp"
					}).done(function(data) {
					    if (data) {
					      console.log("Alright buddy, you got your data !");
					    }
					});
				</pre>
			</div>
		</div>
	</div>
	
	<!-- Users section -->
	<div class="users">
		<h2>Users</h2>
		<div class="users-content">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, cum, error quae non temporibus incidunt aperiam quas eaque similique dolor deserunt dignissimos nam sunt possimus ab. Veritatis libero fugiat adipisci.
			<div class="code-preview">
				<pre>http://spitdata.com/user/@user_number</pre>
			</div>
		</div>
	</div>

	<!-- Tweets section -->
	<div class="tweets">
		<h2>Tweets</h2>
		<div class="tweets-content">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, cum, error quae non temporibus incidunt aperiam quas eaque similique dolor deserunt dignissimos nam sunt possimus ab. Veritatis libero fugiat adipisci.
			<div class="code-preview"></div>
		</div>
	</div>

	<!-- Facebook section -->
	<div class="fbPosts">
		<h2>Facebook posts</h2>
		<div class="fbPosts-content">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, cum, error quae non temporibus incidunt aperiam quas eaque similique dolor deserunt dignissimos nam sunt possimus ab. Veritatis libero fugiat adipisci.
			<div class="code-preview"></div>
		</div>
	</div>

	<!--  section -->
	<div class="articles">
		<h2>Articles</h2>
		<div class="articles-content">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, cum, error quae non temporibus incidunt aperiam quas eaque similique dolor deserunt dignissimos nam sunt possimus ab. Veritatis libero fugiat adipisci.
			<div class="code-preview"></div>
		</div>
	</div>

	<!--  section -->
	<div class="items">
		<h2>Items</h2>
		<div class="items-content">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, cum, error quae non temporibus incidunt aperiam quas eaque similique dolor deserunt dignissimos nam sunt possimus ab. Veritatis libero fugiat adipisci.
			<div class="code-preview"></div>
		</div>
	</div>

	<!--  section -->
	<div class="dates">
		<h2>Dates</h2>
		<div class="dates-content">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, cum, error quae non temporibus incidunt aperiam quas eaque similique dolor deserunt dignissimos nam sunt possimus ab. Veritatis libero fugiat adipisci.
			<div class="code-preview"></div>
		</div>
	</div>

	<!--  section -->
	<div class="locations">
		<h2>Locations</h2>
		<div class="locations-content">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, cum, error quae non temporibus incidunt aperiam quas eaque similique dolor deserunt dignissimos nam sunt possimus ab. Veritatis libero fugiat adipisci.
			<div class="code-preview"></div>
		</div>
	</div>

	<!--  section -->
	<div class="images" id="images">
		<h2>Images</h2>
		<div class="images-content">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, cum, error quae non temporibus incidunt aperiam quas eaque similique dolor deserunt dignissimos nam sunt possimus ab. Veritatis libero fugiat adipisci.
			<div class="code-preview"></div>
		</div>
	</div>

</div>
