<div ng-app="myApp">
	<h1>Generator</h1>
    <div>
    	<!-- Nav tabs -->
		<ul class="nav nav-tabs" id="myTab">
		  <li><a href="#users" data-toggle="tab">Users</a></li>
		  <li><a href="#posts" data-toggle="tab">Posts</a></li>
		  <li><a href="#contents" data-toggle="tab">Content</a></li>
		  <li><a href="#images" data-toggle="tab">Images</a></li>
		</ul>

		<!-- Tab panes -->
		<div class="tab-content">
		  <!-- Users -->
		  <div class="tab-pane active" id="users" ng-controller="UserCtrl">
		  	<p>
		        <div ng-include src="view.getView()"></div>
		    </p>
		  </div>

		  <!-- Posts -->
		  <div class="tab-pane" id="posts" ng-controller="PostCtrl">
		  	<p>
		        <div ng-include src="view.getView()"></div>
		    </p>
		  </div>

		  <!-- Contents -->
		  <div class="tab-pane" id="contents" ng-controller="ContentCtrl">
		  	<p>
		        <div ng-include src="view.getView()"></div>
		    </p>
		  </div>

		  <!-- Images -->
		  <div class="tab-pane" id="images" ng-controller="ImagesCtrl">
		  	<p>
		  		<div ng-include src="view.getView()"></div>
		  	</p>
		  </div>

		</div>
    </div>
</div>