
	<section class="section top">
		<div class="container">
			<div class="row">
				<img class="logo_img" src="../../ui/assets/logo.png" alt="SPITDATA Logo"/>
				<h2> Generating data has never been so easy. </h2>
				<p> database - pictures - articles - dates - numbers - orders and so on. </p>
			</div>
			<div class="row steps">
				<div class="col-md-4">
					<div class="back-img"><img src="../../ui/assets/facts.png" alt=""></div>
					<h3>FACTS</h3>
					<p>Tired of wasting time to gather and organize data ? </p>
				</div>
				<div class="col-md-4">
					<div class="back-img"><img src="../../ui/assets/idea.png" alt=""></div>
					<h3>SOLUTION</h3>
					<p>Spitdata is able to generate every data you could need.</p>
				</div>
				<div class="col-md-4">
					<div class="back-img"><img src="../../ui/assets/chronometer.png" alt=""></div>
					<h3>RESULTS</h3>
					<p>Quick, efficient. You can start working immediately. </p>
				</div>
			</div>

			<div class="row">
				<a href="{{@BASE}}/api" class="button-api"><i class="fa fa-book"></i> <span>API DOC</span> </a>
			</div>
		</div>
	</section>


	<section class="section generator" id="sectgenerator">
		<div class="container">
			<h2> GENERATOR </h2>
			<div class="separate"></div>
			<div class="row">
				<div class="animation col-md-7">
				<!-- <img src="assets/anim-1/composition 1_00066.png" id="anim1" alt="ANIMATION"> -->
				<img class="animated" interval="50" max="66" replay="0" pattern="../../ui/assets/anim-1/Composition 1_000#.png" />
				</div>

				<div class="text col-md-5">
					<h3>USE A FORM TO TRY</h3>
					<p>You can easily try the API using the form we built on.</p>

					<a href="{{@BASE}}/generator" class="button-try"><i class="fa fa-magic"></i> <span>TRY IT</span> </a>
				</div>
			</div>
		</div>
	</section>

	<section class="section steps">
		<div class="container">
			<div class="row">

			</div>
		</div>
	</section>

	<section class="section api">
		<div class="container">
			<h2> DOC API </h2>
			<div class="separate"></div>
			<div class="row">
				<div class="text col-md-5">
					<h3>FIND ALL THE EXPLANATIONS ABOUT SPITDATA</h3>
					<p>The DOC API contains all the explanations about Spitdata. Just have a look if you want to know how to use it. </p>

					<a href="{{@BASE}}/api" class="button-access"><i class="fa fa-sign-in"></i> <span>ACCESS</span> </a>
				</div>

				<div class="animation col-md-7">
				<img src="../../ui/assets/illu2.png" alt="ANIMATION">
				</div>
			</div>
		</div>
	</section>