<h1>{{ @site }}</h1>
<hr />
<h3>Users</h3>
<ul>
	<li>1 User <a href="{{ @BASE }}/user/1">{{ @BASE }}/user/1</a></li>
	<li>2 Users <a href="{{ @BASE }}/user/2">{{ @BASE }}/user/2</a></li>
</ul>
<h3>Tweets</h3>
<ul>
	<li>1 Tweet <a href="{{ @BASE }}/post/tweet/1">{{ @BASE }}/post/tweet/1</a></li>
	<li>2 Tweets <a href="{{ @BASE }}/post/tweet/2">{{ @BASE }}/post/tweet/2</a></li>
</ul>
<h3>Facebook status</h3>
<ul>
	<li>1 Facebook status <a href="{{ @BASE }}/post/fbPost/1">{{ @BASE }}/post/fbPost/1</a></li>
</ul>
<h3>Articles</h3>
<ul>
	<li>1 Article <a href="{{ @BASE }}/post/article/1">{{ @BASE }}/post/article/1</a></li>
	<li>2 Articles <a href="{{ @BASE }}/post/article/2">{{ @BASE }}/post/article/2</a></li>
</ul>