<h1>{{ @site }}</h1>
<hr />
<h3>Images</h3>
<ul>
	<li>1 image en png<a href="{{ @BASE }}/image/articles/400/500/png/1">{{ @BASE }}/image/articles/400/500/png/1</a></li>
	<li>1 image en jpg <a href="{{ @BASE }}/image/articles/400/500/jpg/1">{{ @BASE }}/image/articles/400/500/jpg/1</a></li>
	<li>1 images en gif<a href="{{ @BASE }}/image/articles/400/500/gif/1">{{ @BASE }}/image/articles/400/500/gif/1</a></li>
	<li>5 images <a href="{{ @BASE }}/image/articles/400/500/jpg/5">{{ @BASE }}/image/articles/400/500/jpg/5</a></li>
	<li>1 image en zip <a href="{{ @BASE }}/image/articles/400/500/jpg/1/zip">{{ @BASE }}/image/articles/400/500/jpg/1/zip</a></li>
	<li>5 images en zip<a href="{{ @BASE }}/image/articles/400/500/jpg/5/zip">{{ @BASE }}/image/articles/400/500/jpg/5/zip</a></li>
	<li>Trop d'images en zip (limite = 20)<a href="{{ @BASE }}/image/articles/400/500/jpg/55/zip">{{ @BASE }}/image/articles/400/500/jpg/55/zip</a></li>
</ul>
<h3>Users</h3>
<ul>
	<li>1 user <a href="{{ @BASE }}/user/1">{{ @BASE }}/user</a></li>
	<li>2 users <a href="{{ @BASE }}/user/2">{{ @BASE }}/user/2</a></li>
</ul>
<h3>Tweets</h3>
<ul>
	<li>1 tweet <a href="{{ @BASE }}/post/tweet/1">{{ @BASE }}/post/tweet</a></li>
	<li>2 tweets <a href="{{ @BASE }}/post/tweet/2">{{ @BASE }}/post/tweet/2</a></li>
</ul>
<h3>Facebook status</h3>
<ul>
	<li>1 Facebook status <a href="{{ @BASE }}/post/fbpost/1">{{ @BASE }}/post/fbpost/1</a></li>
</ul>
<h3>Articles</h3>
<ul>
	<li>1 article <a href="{{ @BASE }}/post/article/1">{{ @BASE }}/post/article</a></li>
	<li>2 articles <a href="{{ @BASE }}/post/article/2">{{ @BASE }}/post/article/2</a></li>
</ul>
<h3>Items</h3>
<ul>
	<li>1 item<a href="{{ @BASE }}/content/item">{{ @BASE }}/content/item</a></li>
	<li>2 items<a href="{{ @BASE }}/content/item/2">{{ @BASE }}/content/item/2</a></li>
</ul>
<h3>Dates</h3>
<ul>
	<li>1 date<a href="{{ @BASE }}/content/dates">{{ @BASE }}/content/dates</a></li>
	<li>2 dates<a href="{{ @BASE }}/content/dates/2">{{ @BASE }}/content/dates/2</a></li>
</ul>
<h3>Locations</h3>
<ul>
	<li>1 location<a href="{{ @BASE }}/content/location">{{ @BASE }}/content/location</a></li>
	<li>4 locations<a href="{{ @BASE }}/content/location/4">{{ @BASE }}/content/location/4</a></li>
</ul>