
    </div>

    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="../../ui/js/bootstrap.min.js"></script>

    <check if="{{ @currentPage=='generator' }}">
	  <true>
	  	<script src="../../ui/js/angular.min.js"></script>
	  	<script src="../../ui/js/custom-generator.js"></script>
	  </true>
	</check>

	<check if="{{ @currentPage=='admin' }}">
	  <true>
	  	<!--<script src="../../ui/js/angular.min.js"></script>-->
	  	<script src="../../ui/js/custom-admin.js"></script>
	  </true>
	</check>

    </body>
</html>