<header>
    <div class="container">
    <div class="logo">
      <a href="{{@BASE}}/">SPITDATA</a>
    </div>

    <nav>
      <check if="{{ @currentPage=='generator' }}">
        <true><a href="{{@BASE}}/generator" class="active">GUI GENERATOR</a></true>
        <false><a href="{{@BASE}}/generator">GUI GENERATOR</a></false>
      </check>
      <check if="{{ @currentPage=='api' }}">
        <true><a href="{{@BASE}}/api" class="active">API DOC</a></true>
        <false><a href="{{@BASE}}/api">API DOC</a></false>
      </check>
    </nav>
    </div>
</header>